#filelist, #pathbox, #gobutton, #titleplace {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
}
body {
    margin: 0px;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
}
#titlebar{
  display: flex;
    width: 100%;
    height: 35px;
    -webkit-app-region: drag;
    background-color: #000000;
}
#content-box-holder{
    height: 100%;
    overflow: scroll;
}
#titleplace{
  width: -webkit-fill-available;
  align-self: center;
  margin: auto;
  text-align: center;
}
  #filelist {
    width: 100%;
  }

  #filelist td, #pathbox{
      padding: 8px;
  }
  #pathboxcontainer{
      width: 100%;
      display: flex;
  }
  #pathbox{
    font-size: 14px;
    border: 0px;
    width: -webkit-fill-available;
    background-color: #000000;
    color: #FFFFFF;
  }
  #filelist tr:nth-child(odd){background-color: #0d0d0d;}
  #filelist tr:hover {background-color: #222;}
  #min_btn, #rsz_btn, #cls_btn, #go_btn, #rf_btn, #hm_btn {
    float: right;
  }
  #bck_btn, #fwd_btn, #up_btn{
    float: left;
  }
  .topbtn{
    height: 35px;
    width: 35px;
    -webkit-app-region: no-drag;
  }
  .topbtn:hover, #pathbox:hover {
    background-color: #222;
  }
  .topbtn img{
    padding: 8.5px;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}