#filelist, #pathbox, #gobutton {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
body {
    margin: 0px;
    overflow: hidden;
}
#titlebar{
    width: 100%;
    height: 35px;
    -webkit-app-region: drag;
    background-color: #ffffff;
}
#content-box-holder{
    height: 100%;
    overflow: scroll;
}
  #gobutton{
    width: 9%;
  }

  #pathbox{
    width: 90%;
  }

  #filelist {
    width: 100%;
  }

  #filelist td, #pathbox{
      padding: 8px;
  }
  
  #filelist tr:nth-child(even){background-color: #f2f2f2;}
  
  #filelist tr:hover {background-color: #ddd;}