.light{
  --invert: #000000;
  --primary: #FFFFFF;
  --secondary: #f2f2f2;
  --trietary: #ddd;
  --icon-trans: 0%;
}
.dark{
  --invert: #FFFFFF;
  --primary: #000000;
  --secondary: #0d0d0d;
  --trietary: #222;
  --icon-trans: 100%;
}
#filelist, #pathbox, #gobutton, #titleplace {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
}
body {
    margin: 0px;
    overflow: hidden;
    background-color: var(--primary);
    color: var(--invert);
}
#titlebar{
  display: flex;
    width: 100%;
    height: 35px;
    -webkit-app-region: drag;
    background-color: var(--primary);
}
#content-box-holder{
    height: 100%;
    overflow: scroll;
}
#titleplace{
  width: -webkit-fill-available;
  align-self: center;
  margin: auto;
  text-align: center;
}
  #filelist {
    width: 100%;
  }

  #filelist td, #pathbox{
      padding: 8px;
  }
  #pathboxcontainer{
      width: 100%;
      display: flex;
  }
  #pathbox{
    font-size: 14px;
    border: 0px;
    width: -webkit-fill-available;
    background-color: var(--primary);
    color: var(--invert);
  }
  #filelist tr:nth-child(odd){background-color: var(--secondary);}
  #filelist tr:hover {background-color: var(--trietary);}
  #min_btn, #rsz_btn, #cls_btn, #go_btn, #rf_btn, #hm_btn {
    float: right;
  }
  #bck_btn, #fwd_btn, #up_btn{
    float: left;
  }
  .topbtn{
    height: 35px;
    width: 35px;
    -webkit-app-region: no-drag;
  }
  .topbtn:hover, #pathbox:hover {
    background-color: var(--trietary);
  }
  .topbtn img{
    padding: 8.5px;
    filter: invert(var(--icon-trans));
  }
  /* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--trietary); 
}