.vibrant{
  --transparency: .5;
}
.matte{
  --transparency: 1;
}
.light{
  --constant-invert: 0;
  --constant-primary: 255;
  --invert: rgb(0, 0, 0);
  --primary: rgba(255, 255, 255, var(--transparency));
  --secondary: rgba(242, 242, 242, var(--transparency));
  --trietary: rgba(208, 208, 208, var(--transparency));
  --icon-trans: 0%;
}
.dark{
  --constant-invert: 255;
  --constant-primary: 0;
  --invert: rgba(255, 255, 255);;
  --primary: rgba(0, 0, 0, var(--transparency));
  --secondary: rgba(13, 13, 13, var(--transparency));
  --trietary: rgba(32, 32, 32, var(--transparency));;
  --icon-trans: 100%;
}
body {
    margin: 0px;
    overflow: hidden;
    background-color: var(--primary);
    color: var(--invert);
    font-family: 'Roboto', sans-serif;
}
#titlebar{
  display: flex;
  align-content: center;
  width: 100%;
  height: 35px;
  -webkit-app-region: drag;
}
#content-box-holder{
  height: Calc(100% - 70px);
  overflow-y: scroll;
}
#titleplace{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-self: center;
  margin: auto;
  align-content: center;
  text-align: center;
  background-color: var(--primary);
}
#titleplace p{
  margin: 8px;
}
#cd{
  padding: 0px;
}
#menupanel{
  height: 105;
  width: 100%;
  display: none;
}
#warn-holder{
  text-align: center;
}
  .itemlist {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--primary)
  }
  #pathboxcontainer{
      width: 100%;
      display: flex;
  }
  #pathbox{
    font-size: 14px;
    border: 0px;
    width: -webkit-fill-available;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: var(--invert);
    padding: 8px;
    outline: none;
  }
  .itemlist tr:nth-child(odd){
    background-color: var(--secondary);
  }
  .itemlist.hover-enabled tr div:hover, .select{
    background-color: var(--trietary);
  }
  .select{
    font-weight: bold;
  }
  #min_btn, #rsz_btn, #cls_btn, #go_btn, #rf_btn, #hm_btn {
    float: right;
  }
  #bck_btn, #fwd_btn, #up_btn, #mn_btn{
    float: left;
  }
  .itemRow{
    width: -webkit-fill-available;
  }
  .itemNameText{
    padding: 8px;
    padding-left: 8px;
    white-space: nowrap;
    width: min-content;
  }
  .panelItem{
    width: 70px;
    height: 105px;
  }
  .panelItemSubject{
    width: 56px;
    height: 56px;
    padding: 8px;
  }
  .panelItemSubject img{
    filter: invert(var(--icon-trans));
    height: 56px;
    width: 56px;
  }
  .panelItemText{
    width: 70px;
    height: 35px;
    font-size: 13px;
    text-align: center;
  }
  #themeswitch{
    float: right;
  }
  .btmbtnText{
    padding: 8px;
    padding-left: 8px;
    white-space: nowrap;
    text-align: center;
  }
  #warn-holder{
    margin: 8px;
  }
  .btmbtn{
    display: flex;
    width: -webkit-fill-available;
    height: 35px;
  }
  .btmbtn:hover, .panelItem:hover{
    background-color: var(--trietary);
  }
  .item, .context-item{
    height: 35px;
    padding: 0px;
    display: flex;
  }
  .context-item:hover{
    background-color: var(--trietary);
  }
  .item img, .btmbtn img, .context-item img{
    filter: invert(var(--icon-trans));
    padding: 8.5px;
  }
  .subject{
    filter: invert(var(--icon-trans));
  }
  .subject-holder{
    height: 96px;
    width: 96px;
    margin: auto;
  }
  .topbtn{
    height: 35px;
    width: 35px;
    -webkit-app-region: no-drag;
  }
  .topbtn:hover, #pathbox:hover {
    background-color: var(--trietary);
  }
  .topbtn img{
    padding: 8.5px;
    filter: invert(var(--icon-trans));
  }
  #context.show{
    visibility: visible;
    position: absolute;
    background-color: #FFFFFF;
    height: 35px;
    width: 100px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  #context{
    visibility: hidden;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    box-shadow: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 14px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primary); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--trietary); 
  }